<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="'width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
    <script src="https://kit.fontawesome.com/427a2c8f1c.js" crossorigin="anonymous"></script>
    <title>Buzz'd Clients</title>
</head>

<body>
<div class="topnav" id="myTopnav">
    <a th:href="@{/home}">Home</a>
    <a th:href="@{/clients}" class="active">Clients</a>
    <a th:href="@{/appointments}">Appointments</a>
    <a th:href="@{/inventory}">Inventory</a>
<!--
    <a th:href="@{/users}">Users</a>
-->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div class="page-header">
    <div class="header-main">
        <h1> Client Creation Form</h1>
    </div>
</div>
<div class="page-form">
    <form class="creation-form" th:action="@{/clients/UpdateClient/} + ${id}" th:object="${client}"
          enctype="application/x-www-form-urlencoded" method="post">
        <input class="form-text" type="text" th:field="*{firstName}" th:value="*{firstName}" placeholder="First Name">
        <input class="form-text" type="text" th:field="*{lastName}" th:value="*{lastName}" placeholder="Last Name">
        <input class="form-text" type="text" th:field="*{phone}" th:value="*{phone}" placeholder="Phone Number">
        <input class="form-text" type="text" th:field="*{email}" th:value="*{email}" placeholder="Email">
        <div><input class="submit-button" type="submit"></div>
    </form>
</div>
</body>
</html>